In [1]:
import pandas as pd

In [2]:
# Sample data for the Parquet file
data = {
    'AssetID': ['A001', 'A002', 'A003'],
    'TagName': ['Temperature', 'Pressure', 'Humidity'],
    'Value': [23.5, 50.8, 45.2],
    'Timestamp': ['2024-10-14 10:00:00', '2024-10-14 11:00:00', '2024-10-14 12:00:00']
}

In [3]:
type(data)

dict

In [4]:
# Create DataFrame
df = pd.DataFrame(data)

In [5]:
# Save DataFrame as a Parquet file
df.to_parquet('sample_data.parquet', engine='pyarrow')

print("Parquet file created successfully!")

Parquet file created successfully!

In [6]:
# Read the parquet files
df_parquet = pd.read_parquet('sample_data.parquet', engine='pyarrow')
df_parquet

  AssetID      TagName  Value            Timestamp
0    A001  Temperature   23.5  2024-10-14 10:00:00
1    A002     Pressure   50.8  2024-10-14 11:00:00
2    A003     Humidity   45.2  2024-10-14 12:00:00